* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(rgb(55, 55, 181), red);
}

df-messenger {
    --df-messenger-bot-message: #2751e8;
    --df-messenger-button-titlebar-color: #df9b56;
    --df-messenger-chat-background-color: hsl(0, 47%, 67%);
    --df-messenger-font-color: rgb(32, 255, 32);
    --df-messenger-send-icon: #ff1b1b;
    --df-messenger-user-message: #f4fcf3;
}


/* button#widgetIcon {
    background: #42A5F5;
    background: var(--df-messenger-button-titlebar-color);
    border: none;
    border-radius: 10%;
    bottom: 100px;
    box-shadow: rgb(0 0 0 / 24%) 1px 4px 15px 0px;
    cursor: pointer;
    height: 400px;
    position: absolute;
    right: 100px;
    width: 400px;
} */